#informes {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;

  @media screen and (max-width: 768px) { 
    min-height: auto;
    margin-top: -64px;
    padding-top: 2rem;
  }
  
  & .circleInforme {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    left: 5vw;
    top: 4vw;
    background: rgb(179,179,179);
    background: linear-gradient(45deg, rgba(179,179,179,1) 0%, rgba(255,255,255,0) 80%);
    z-index: 1;
    opacity: .35;
    transition: all 4s ease-in-out;

    &:hover {
      top: 7vw;
      left: 1vw;
    }

    @media screen and (max-width: 768px) { 
      width: 40vw;
      height: 40vw;
      top: 0vw;
    }     

  }

  & .titleContainer {   
    padding: 2vw 4vw;
    border-radius: 3.2vw;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(246,246,246,1) 100%);    
    margin-bottom: 2.5vw;
    z-index: 2;  
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -5px;
      height: calc(100% + 10px);
      width: calc(100% + 10px);
      opacity: .8;
      border-radius: calc(3.2vw + 5px);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);      
      filter: blur(1px);      
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;  
      left: 0;
      top: 0;    
      height: 100%;
      width: 100%;
      opacity: .8;
      border-radius: inherit;
      background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(233,233,233,1) 100%);      
    }

    @media screen and (max-width: 768px) { 
      border-radius: 5vw;
      margin-bottom: 15vw;      

      &::before {         
          left: -3px;
          top: -3px;
          border-radius: calc(5vw + 3px);
          height: calc(100% + 6px);
          width: calc(100% + 6px);   
          filter: blur(2px);               
      }
    } 

    & h2 {
      font-size: max(4.5vw, 2rem);
      font-family: 'Tango Sans', sans-serif;
      background: -webkit-linear-gradient(360deg, #341677, #ff6363);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
  }  

  & .informesContainer {
    width: 60vw;
    margin: 0 auto;
    background-color: #dbdbdb;
    border-radius: 3vw;
    padding: 1.6vw;
    z-index: 2;

    @media screen and (max-width: 768px) { 
      width: 84vw;
    }

    & .informeContainer {
        min-height: 5vw;        
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242, 242, 242, 0) 100%);
        padding: 3px 1vw 3px 3px;
        border-radius: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 1rem 0;

        @media screen and (max-width: 768px) { 
          border-radius: 7vw;  
          padding: 2px 0.5vw 2px 2px;  
          margin: 0.5rem 0;       
        }
        
        & .informe {
          min-height: calc(5vw - 3px);
          height: auto;
          width: 100%;
          border-radius: 2.5vw;          
          background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(242, 242, 242, 0) 100%);
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items: center;
          padding: 0 2.5vw;

          @media screen and (max-width: 768px) { 
            border-radius: 7vw;           
          }
  
         & .textNoOpen {
          font-size: 2rem;
          font-weight: 200;
          color: #341677;

          @media screen and (max-width: 1100px) { 
            font-size: 1.6rem
          }

          @media screen and (max-width: 768px) { 
            font-size: 1.2rem;
            padding: 3.6vw 5vw;            
          }

          @media screen and (max-width: 576px) { 
            font-size: 1rem
          }
         }

         & img {
          width: 1.5vw;
          height: auto;
          cursor: pointer;    
          
          @media screen and (max-width: 768px) { 
            width: 3vw;
          }

         }

         & .closeInfo {
          font-size: 3vw;
          color:#ff6363;
          margin-top: -5vw;
          cursor: pointer;

          @media screen and (max-width: 768px) { 
            font-size: 5vw;
          }
          
         }

         & .informeOpen {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;

          & h3 {
            font-size: 2rem;
            font-size: max(2.5vw, 2rem);
            color: #ff6363;
            padding: 1rem 0;
            font-weight: 600;

            @media screen and (max-width: 768px) { 
              font-size: 1.3rem;
              margin: 1rem 0 0;
              padding: 0 4vw;
            }
          }

          & p {
            font-size: 1.5vw;
            font-size: max(1.3vw, 1rem);
            color: #ff6363;

            @media screen and (max-width: 768px) { 
              font-size: 1rem;
              padding-bottom: 3rem;
              padding-left: 4vw;
            }
          }

          & .linkContainer {
            height: auto;
            width: auto;
            margin-left: 45%;
            margin-top: -2rem;
            position: relative;
            transition: all 0.2s ease-in-out;   

            @media screen and (max-width: 768px) { 
              margin-left: 50%;
              margin-top: -2rem;
              margin-bottom: -3px;              
            }      

            & p {
              position: absolute;
              top: 20%;
              left: 50%;
              transform: translate(-55%);
              
              font-family: 'Tango Sans', sans-serif;
              font-size: 4vw;
              letter-spacing: 1vw;
              color: #ff6363;
              -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
              -webkit-text-stroke: 3px #ff6363;
              transition: all 0.2s ease-in-out;  
              
              @media screen and (max-width: 768px) { 
                transform: translate(-70%, 5%);
                -webkit-text-stroke: 1px #ff6363;
              }
            }

            &:hover {
              background: linear-gradient(135deg, rgba(255,99,99,0.2) 0%, rgba(255,255,255,0) 20%);
              & p {
                -webkit-text-stroke: 3px #341677;

                @media screen and (max-width: 768px) { 
                  -webkit-text-stroke: 1px #341677;                  
                }
              }
            }

            &:active {
              & p {
                -webkit-text-stroke: 3px #6c1677;

                @media screen and (max-width: 768px) { 
                  -webkit-text-stroke: 1px #6c1677;                 
                }
              }
            }

            & .informeLink {
              width: 25vw;
              height: auto;

              @media screen and (max-width: 768px) { 
                width: 33vw;              
              }  
              
            }


          }

          & .downloadContainer {
            height: auto;
            width: auto;            

            & .informeDonwload {
              width: 3vw;
              height: 3vw;
              position: absolute;
              border-radius: 5vw;
              top: 50%;
              right: -4.5%;
              background: linear-gradient(135deg, rgba(52,22,119,0.34) 0%, rgba(255,99,99,0.34) 100%);
              transition: all 0.3s ease-in-out;
              
              &:hover {
                background: linear-gradient(135deg, rgba(255,99,99,0.35) 0%, rgba(183,41,146,0.35) 100%);
              }
              &:active {
                background: linear-gradient(135deg, rgba(52,22,119,0.35) 0%, rgba(0,2,114,0.35) 100%);
              }

              @media screen and (max-width: 768px) { 
                left: 4vw;
                top: 70%;                
                width: 6vw;
                height: 6vw;                
              }

              @media screen and (max-width: 400px) {
                top: 80%;          
              }
            }
          }

         }
      }
    }

  }
}
