#multimedia {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;

  & .circleInforme {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    left: 3vw;
    top: 4vw;
    background: rgb(179,179,179);
    background: linear-gradient(45deg, rgba(179,179,179,1) 0%, rgba(255,255,255,0) 80%);
    z-index: 1;
    opacity: .35;
    transition: all 4s ease-in-out;
    opacity: 0;

    @media screen and (max-width: 768px) { 
      opacity: 1;      
    }
  }

  @media screen and (max-width: 768px) { 
    min-height: auto;
    margin-top: 6vw;
    padding-top: 2vw;
  }

  & .titleContainer {   
    padding: 2vw 4vw;
    border-radius: 3.2vw;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(246,246,246,1) 100%);    
    margin-bottom: 2.5vw;
    z-index: 2;  
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -5px;
      height: calc(100% + 10px);
      width: calc(100% + 10px);
      opacity: .8;
      border-radius: calc(3.2vw + 5px);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);      
      filter: blur(1px);      
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;  
      left: 0;
      top: 0;    
      height: 100%;
      width: 100%;
      opacity: .8;
      border-radius: inherit;
      background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(233,233,233,1) 100%);      
    }

    @media screen and (max-width: 768px) { 
      border-radius: 5vw;
      margin-bottom: 5vw;   
      
      &::before {         
        left: -3px;
        top: -3px;
        border-radius: calc(5vw + 3px);
        height: calc(100% + 6px);
        width: calc(100% + 6px);   
        filter: blur(2px);                    
      }
    } 

    & h2 {
      font-size: max(4.5vw, 2rem);
      font-family: 'Tango Sans', sans-serif;
      background: -webkit-linear-gradient(360deg, #341677, #ff6363);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;      
    }
  }  

  & .multimediaContainer {
    width: 60vw;
    margin: 0 auto;
    background-color: #dbdbdb;
    border-radius: 3vw;
    padding: 1.6vw;
    z-index: 2;

    @media screen and (max-width: 768px) { 
      width: 84vw;
    }

    & .fileContainer {
      min-height: 5vw;        
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242, 242, 242, 0) 100%);
      padding: 3px 1vw 3px 3px;
      border-radius: 2.5vw;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      margin: 1rem 0;

      @media screen and (max-width: 768px) { 
        border-radius: 7vw;  
        padding: 2px 0.5vw 2px 2px;  
        margin: 0.5rem 0; 
      }
      
      & .file {
        min-height: calc(5vw - 3px);
        height: auto;
        width: 100%;
        border-radius: 2.5vw;          
        background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(242, 242, 242, 0) 100%);
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 0 2.5vw;

        @media screen and (max-width: 768px) { 
          border-radius: 7vw;           
        }

        & .textNoOpen {
          font-size: 2rem;
          font-weight: 200;
          color: #341677;

          @media screen and (max-width: 1100px) { 
            font-size: 1.6rem
          }

          @media screen and (max-width: 768px) { 
            font-size: 1.2rem;
            padding: 3.6vw 5vw; 
          }

          @media screen and (max-width: 576px) { 
            font-size: 1rem
          }
         }

        & img {
          width: 1.5vw;
          height: auto;
          cursor: pointer; 
          
          @media screen and (max-width: 768px) { 
            width: 3vw;
          }
         }

        & .closeInfo {
          font-size: 3vw;
          color:#ff6363;
          /* margin-top: -5vw; */
          cursor: pointer;

          @media screen and (max-width: 768px) { 
            font-size: 5vw; 
            position: absolute;    
            top: 50%;       
            right: 3vw;
          }
        }  
        
      }

      & .fileOpen {
        height: 170px;
        position: relative; 

        @media screen and (max-width: 768px) { 
          height: auto; 
          display: flex;              
          flex-direction: column;
          justify-content: flex-start;
          align-content: flex-start;
          text-align: left;
        }

        & .fileInfo {
          position: absolute;
          top: 1.2rem;
          left: calc(4.4vw + 5.5rem); 
          
          @media screen and (max-width: 768px) { 
            position:static;   
            justify-self: flex-start;
            align-self: flex-start;
            margin-left: 4rem;
            margin-top: 3vw;
            width: calc(100% - 20vw);
            /* margin-left: -10vw; */
          }

          & h3 {            
            font-size: 2rem;
            font-size: max(2vw, 1.5rem); 
            font-weight: 600;
            color: #ff6363;           
            
            @media screen and (max-width: 768px) { 
              font-size: max(1vw, 1.3rem);               
              width: 100%; 
              /* margin-left: -8vw;  
              width: 100;  */            
            }
          }

          & p {
            color: #ff6363;
            font-size: 1.5vw;
            font-size: max(1.3vw, 1rem);

            @media screen and (max-width: 768px) { 
              font-size: max(0.9vw, 0.8rem);                           
            }
          }
        }
        

        & audio {          
          width: 100%;
          background-color: transparent;   
          height: 10rem;          
          display: flex;
          flex-direction: column;
          align-items: flex-start !important;
          position: relative;         
          
          @media screen and (max-width: 768px) { 
            height: 6rem !important;
            /* margin-left: -5.5rem; */
            /* width: calc(100% + 6rem); */
            margin-left: -5vw;
            width: 100%;  
            margin-top: -3.5rem; 
            margin-bottom: 1.2rem;
            
          }
          
        }

        & audio::-webkit-media-controls-panel { 
          margin-top: -1.5rem;           
          height: 12rem;          
          position: absolute;
          width: 95%;
          left: 0;
          top: 2vw;
        }

        & audio::-webkit-media-controls-enclosure {          
          background-color: transparent;
          height: 20rem;             
        }

        & audio::-webkit-media-controls-play-button {
          background-image: url(../../../../../public/images/profile/play.svg);   
          border-radius: 50%;
          background-size: cover;
          transform: scale(3.1);
          margin-top: -4rem;
          margin-right: 1rem;
          margin-left: 1.5rem;
          display: flex;
          flex-direction: column;  

        }

        & .playing::-webkit-media-controls-play-button {
          background-image: url(../../../../../public/images/profile/pause.svg);              
        }

        & audio::-webkit-media-controls-current-time-display {
          margin-left: 2rem;
        }
        

        & audio::-webkit-media-controls-current-time-display, & audio::-webkit-media-controls-time-remaining-display {
          color: #ff6363 !important;
          margin-top: 2.5rem;
        }


        & audio::-webkit-media-controls-timeline {          
          margin-left: -5rem;          
          width: 150px;                      
        }        
       
        & audio::-webkit-media-controls-mute-button {
          filter: invert(55%) sepia(6%) saturate(7491%) hue-rotate(316deg) brightness(101%) contrast(100%);                           
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
 
  audio::-webkit-media-controls-panel { 
    top: 0rem !important;
  }

  audio::-webkit-media-controls-play-button {
    transform: scale(1.5) translate(0%, 50%) !important;
  } 

  audio::-webkit-media-controls-timeline { 
   width: 90px !important;    
   /* margin-left: -35vw !important;  */                 
  } 

  audio::-webkit-media-controls-current-time-display {
    margin-left: 0.7rem !important;
  }

  audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    font-size: 0.7rem;
    text-align: left !important;
  }
}