.profileHeader {
  border-top: 1rem solid;
  border-image: linear-gradient(90deg, rgba(241,255,51,1) 0%, rgba(255,99,99,1) 80%, rgba(52,22,119,1) 100%) 10;  
  background-color: #ebebeb;

  & .navBar a, &.navBar h3 {
    color: #341677;
  }

  & .navBar a:hover, & .navBar h3:hover {
    color: #ff6363;
  }

  & .iconsContainer {
    position: absolute;
    right: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 8vw;

    & .mailsContainer, & .notifContainer {
      width: 1.5vw;
      height: 1.5vw;
      margin-right: 1vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      & img {
        width: 100%;
        height: auto;      
      }

      & .mailNotification {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ff6363;
        top: 10%;
        right: -20%;
      }

      
      & #userMsn {
        background-color: #f1f1f1;
        position: absolute;
        top: 5vw;
        right: -50%;
        width: 20vw;
        height: auto;
        border-radius: 0.5vw;
        box-shadow: 7px 7px 9px -2px #35167746;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        cursor: auto;

        & .msgContainer {
          width: 100%;
          height: auto;
          padding: 0.5rem 1rem; 
          display: grid;           
          grid-template-columns: repeat(10, 1fr);

          & .msgPointer {
            grid-column: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;   
            padding: 0 0 1rem;     
            border-bottom: 1px solid #35167718 ;      

            & div {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ff6363;
            }

            & .msgPointerFalse {              
              background-color: #afafaf;
            }

          }

          & .msgText {
            grid-column: 2 / span 9;             
            width: 100%; 
            padding: 0 0 1rem; 
            border-bottom: 1px solid #35167718 ;         

            & p {
              color: #341677;
              width: 100%;
            }

            & .msgTextfalse {
              color: #afafaf;
              width: 100%;
            }
          }
          
        }
      }
    }
  

    & .userInitial {
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(52,22,119);
      background: linear-gradient(45deg, rgba(52,22,119,1) 0%, rgba(255,99,99,1) 100%);
      margin-right: 0.5vw;
    }
  }

}



