#casos {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;
  padding-bottom: 10vw;

  @media screen and (max-width: 768px) { 
    min-height: auto;
    margin-top: 6vw;
    padding-top: 2vw;
  }

  & .titleContainer {   
    padding: 2vw 4vw;
    border-radius: 3.2vw;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(246,246,246,1) 100%);    
    margin-bottom: 2.5vw;
    z-index: 2;  
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -5px;
      height: calc(100% + 10px);
      width: calc(100% + 10px);
      opacity: .8;
      border-radius: calc(3.2vw + 5px);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);      
      filter: blur(1px);      
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;  
      left: 0;
      top: 0;    
      height: 100%;
      width: 100%;
      opacity: .8;
      border-radius: inherit;
      background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(233,233,233,1) 100%);      
    }

    @media screen and (max-width: 768px) { 
      border-radius: 5vw;
      margin-bottom: 5vw;   
      
      &::before {         
        left: -3px;
        top: -3px;
        border-radius: calc(5vw + 3px);
        height: calc(100% + 6px);
        width: calc(100% + 6px);   
        filter: blur(2px);                    
      }
    } 

    & h2 {
      font-size: max(4.5vw, 2rem);
      font-family: 'Tango Sans', sans-serif;
      background: -webkit-linear-gradient(360deg, #341677, #ff6363);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;      
    }
  }  

  & .casosContainer {
    width: 60vw;
    margin: 0 auto;
    background-color: #dbdbdb;
    border-radius: 3vw;
    padding: 1.6vw;
    z-index: 2;

    @media screen and (max-width: 768px) { 
      width: 84vw;
    }

    & .casoContainer {
        min-height: 5vw;        
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242, 242, 242, 0) 100%);
        padding: 3px 1vw 3px 3px;
        border-radius: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 1rem 0;

        @media screen and (max-width: 768px) { 
          border-radius: 7vw;  
          padding: 2px 0.5vw 2px 2px;  
          margin: 0.5rem 0;       
        }
        
        & .caso {
          min-height: calc(5vw - 3px);
          height: auto;
          width: 100%;
          border-radius: 2.5vw;          
          background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(242, 242, 242, 0) 100%);
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items: center;
          padding: 0 2.5vw;

          @media screen and (max-width: 768px) { 
            border-radius: 7vw;                      
          }
  
         & .textNoOpen {
          font-size: 2rem;
          font-weight: 200;
          color: #341677;

          @media screen and (max-width: 1100px) { 
            font-size: 1.6rem;            
          }

          @media screen and (max-width: 768px) { 
            font-size: 1.2rem;
            padding: 3.6vw 5vw; 
          }

          @media screen and (max-width: 576px) { 
            font-size: 1rem
          }
         }

         & img {
          width: 1.5vw;
          height: auto;
          cursor: pointer;   
          
          @media screen and (max-width: 768px) { 
            width: 3vw;
          }
         }

         & .graphImg {
          width: 5vw;
          margin-right: 1rem;
          height: auto;
          cursor: auto;

          @media screen and (max-width: 1210px) { 
            width: 7vw !important;
          }

          @media screen and (max-width: 768px) { 
            width: 11vw !important;
            margin-right: 0.5rem;
          }  
          
         }

         & .closeInfo {
          font-size: 3vw;
          color:#ff6363;
          margin-top: -5vw;
          cursor: pointer;
         }

         & .casoOpen {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;

          &:hover {
            & h3, & p {
              color: #341677 !important;
            }
          }

          & h3 {
            font-size: 2rem;
            font-size: max(2.5vw, 2rem);
            color: #ff6363;
            padding: 1rem 0 0;
            font-weight: 600;
            transition: color 0.5s ease-in-out;

            @media screen and (max-width: 768px) { 
              font-size: 1.3rem;
              margin: 1rem 0 0;
              padding: 0 0vw;
            }
          }

          & p {
            font-size: 1.5vw;
            font-size: max(1.3vw, 1rem);
            color: #ff6363;
            transition: color 0.5s ease-in-out;

            @media screen and (max-width: 768px) { 
              font-size: 0.7rem;              
              padding: 0 0vw;
            }
          }  

          & .casoLink  {
            font-size: 1.5vw;
            font-size: max(1.3vw, 1rem);
            color: #341677;
            text-decoration: none;  
            margin-bottom: 1rem;            
             
          } 

          & .linkContainer {

            @media screen and (max-width: 768px) { 
              display: flex;
              margin-top: 2vw;
            }
            
            & p {              
              color: #341677;               
              letter-spacing: 1vw !important; 
              margin-top: -0.8vw;
              margin-bottom: 1vw; 
              cursor: pointer;          
             }
          }
          
          & .imgContainer {
            position:fixed;
            top: 10vh;
            left: 50%;
            transform: translate(-50%);
            height: 80vh;
            width: auto;
            z-index: 99;            
            
            @media (orientation: portrait) {
              width: 80vw;
              height: auto;
            }
            
            & img {              
              background-color: rgba(0, 0, 0, 0.226);
              border-radius: 2vw;
              height: 100%;
              width: auto; 
              max-width: 90vw;
              object-fit: contain;

              @media (orientation: portrait) {
                width: 100%;
                height: auto;               
              }
                           
            }   
            
            .closeImg {
              text-align: center;              
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 2vw;
              right: 2vw;
              width: 2.5vw;
              height: 2.5vw;
              /* background-color: white; */
              background: (90deg, rgba(240,240,240,1) 0%, rgba(242, 242, 242, 0) 100%);
              color: #341677;
              border-radius: 50%;
              border: solid 1px #d36d8f;
              cursor: pointer;

              @media screen and (max-width: 768px) { 
                width: 3vw;
                height: 3vw;                
              } 
            }
            
          }
         }
      }
    }

  }
  & .mainLinksContainer {
    width: 60vw;
    margin: 0 auto;
    padding: 0 1rem;
    background: transparent; 
    justify-content: space-between;      
    
    @media screen and (max-width: 768px) { 
      position: relative;
      display: flex;
      width: 83vw;
      border: none;
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      text-align: center;
      margin-bottom: 10vw;
    }
    
    & .linktoGP {
      background-image: url(../../../../../public/images/profile/bg-sp-link.svg);
      transition: all 0.5s ease-in-out;
      border: solid 3px #d36d8f; 
      opacity: 0.45;

      &:hover {
        opacity: 1;
      }

      @media screen and (max-width: 768px) { 
        width: 40vw;  
        border: solid 1px #d36d8f;  
        margin: 0;    
        padding: 0;
      }
    }   
    
    & .linktoSP {
      background-image: url(../../../../../public/images/profile/bg-pp-link.svg);
      transition: all 0.5s ease-in-out;   
      border: solid 3px #c2e76a;
      opacity: 0.5;  
      
      &:hover {
        opacity: 1;
      }

      @media screen and (max-width: 768px) { 
        width: 40vw; 
        border: solid 1px #c2e76a;        
        margin: 0;
        padding: 0;
        margin-left: 3vw;
      }
    }   
    & img {
      background: linear-gradient(90deg, rgba(241,255,51,0.33) 0%, rgba(255,99,99,0.33) 100%);
      border-radius: 50%;
      width: 7vw;
      height: auto;  
      transition: all 0.5s ease-in-out;
      
      &:hover {
        transform: scale(1.1);
      }

      @media screen and (max-width: 768px) { 
        width: 8vw;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%);
        /* top: 0;     */    
      }
    }
  }
}