/* Form */

#redForm {
  display: grid;
  grid-template-columns: repeat(10, 1fr);  
  margin-top: 13vw;
  padding-bottom: 30vw;
  margin-bottom: calc(-1rem - 1.4vw - 3vw);
  background-image: url(../../../../public/images/sector_privado/form-back-01.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom left;  
}