.animationContainer {
  width: auto;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 0 auto;
  /* border: solid 1px red; */
  margin-bottom: 1vw;
}