
.content {
  display: flex;
  flex-direction: column; 
  
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--main-bg);
  margin: 40px;
  cursor: pointer;
  
}
  
.card:nth-child(1):before, .card:nth-child(1):after {
  background: linear-gradient(25deg, #89ff00, var(--main-bg), var(--main-bg), var(--main-bg), #f714eb);
}
  
.card:before, .card:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  
}

.card-content {
 font-family: 'Lato', sans-serif; 
  padding: 20px;
  color: #fff;  
}