/* Mains Actions */

#actions {
  width: 100%;  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 3vw;
  padding-top: 2vw;
}

.mainActionsContainer {
  grid-column: 4 / 10;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* media queries */
@media (max-width: 768px) {
  .mainActionsContainer {
    grid-column: 3 / 11;
  }
}

/* mainAction pair children */
.mainAction:nth-child(even) {
  align-items: flex-start;
  justify-content: center;  
}

.mainAction:nth-child(odd) {
  align-items: flex-end;
  justify-content: center;  
}


.mainAction {
  grid-column: auto / span 3;  
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  margin-bottom: 3vw;
}

.mainAction .imagesContainer {
  height: 3.5vw;
  min-height: 30px;
  width: auto; 
  position: relative;
  margin-bottom: 1rem; 
}

.mainAction:nth-child(odd) .imagesContainer img {
  height: 100%;
  width: auto; 
  position: absolute;
  top: 0;
  right: 2vw;
}

.mainAction:nth-child(even) .imagesContainer img {
  height: 100%;
  width: auto; 
  position: absolute;
  top: 0;
  left: 2vw;
}

.mainAction .imagesContainer img {
  opacity: 1;
  z-index: 5;
}

.mainAction .imagesContainer .imgActive {
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mainAction:hover .imagesContainer .imgActive {
  opacity: 1;
  z-index: 10;
}

.mainAction h3 {
  font-size: 1.6vw;
  font-size: max(1.6vw, 14px);
}

.mainAction h3 span {
  font-size: 1.6vw;
  font-size: max(1.6vw, 14px);
  color: #0F21A3;
  transition: all 0.5s ease-in-out;
}

.mainAction:hover h3 span {
  color: var(--second-color);
}

.mainAction:nth-child(odd) h3 {
  text-align: right;
}