footer {
  border-bottom: 1rem solid var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer img {
 width: 10vw;
 height: auto;
 padding-bottom: 3vw; 
}